@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(15, 23, 42);
  color: rgb(226, 232, 240);
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
